@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6{font-weight: normal;}
body, button, input, select, textarea { font:normal 100%;}
h1 { font-size: 1.5em; }
ul, ol, li { list-style: none; }
a { text-decoration: none; color:#333;}
fieldset, img { border: 0; vertical-align:middle; max-width: 100%; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
html {font-size:1em; font-family: 'Questrial', 'Noto Sans SC', sans-serif;height: 100%;}
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance: none;}
input,img{outline:0}
img,svg{border:0;vertical-align:middle;}
:focus{outline:0}
::selection {background: #333;color: #fff;}
::-webkit-scrollbar {width: 6px;height: 6px;}
div::-webkit-scrollbar {width: 6px;height: 6px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {border-radius: 6px;background: #bcbcbc;}
::-webkit-scrollbar-thumb:window-inactive {background: #a8a8a8;}
::-webkit-scrollbar-thumb:vertical:hover{background-color: #a8a8a8;}
::-webkit-scrollbar-thumb:vertical:active{background-color: #a8a8a8;}
* {box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-webkit-tap-highlight-color:transparent;}
a strong{ cursor:pointer;outline:0;}
body{background-color: #222;user-select: none;-webkit-user-select:none;min-height: 100%;}
body.active{padding-bottom:100px;}
header .logo{height:80px;line-height: 80px;display: flex;justify-content: center;align-items: center;}
header .logo a{display: block;font-size:24px;color:#fff;font-weight: 300;}
header .logo img{height:60px;}
header .nav{height:40px;display: flex;justify-content: center;align-items: center;}
.nav a{display: block;padding:0 10px;height:30px;line-height: 30px;color:#fff;margin-right: 10px;transition: background-color .2s ease,color .2s ease;background-color: #222;border-radius: 30px;}
.nav a:last-child{margin-right: 0;}
.nav a:hover{background:#fff;color:#333;}
.nav a.active{background:#fff;color:#333;}
.page{pointer-events: none;display: none;}
.page.active{pointer-events: all;display: block;}
.section_title{display: flex;height:60px;justify-content: center;align-items: center;margin-bottom: 30px;margin-top: 20px;}
.section_title span{display: block;font-size:30px;color:#fff;height:60px;line-height: 60px;}
.section_album{display: flex;position: relative;overflow:hidden;justify-content: center;flex-wrap: wrap;}
.section_album .bg{position: absolute;width:100%;height:auto;z-index: 2;filter: blur(10px) brightness(0.5) saturate(200%);transform: scale(2);-ms-transform: scale(2);top:50%;margin-top:-40%;-ms-filter: blur(10px) brightness(0.5) saturate(150%);}
.play_section{width:800px;position: relative;z-index: 3;padding:100px;}
.play_section img{border-radius: 4px;transition: box-shadow .2s ease,transform .2s ease,filter .2s ease;}
.play_section:hover img{box-shadow: 0 0 70px rgba(0,0,0,.3);transform: scale(1.05);filter: brightness(.9);}
.play_section .ctrl-icon{position: absolute;z-index: 4;width:200px;height: 200px;top:50%;margin-top: -100px;left:50%;margin-left: -100px;opacity: 0;cursor: pointer;transition: opacity .2s ease;}
body .play_section:hover .ctrl-icon.play{opacity: 1;}
body.playing .play_section:hover .ctrl-icon.pause{opacity: 1;}
body.playing .play_section .ctrl-icon.play{opacity: 0;}
.listen_on{width:100%;text-align: center;text-align: center;font-size:18px;position: relative;z-index: 3;padding:20px;color:#aaa;line-height: 30px;}
.listen_on a{color:#fff;font-size:15px;}
.listen_on svg{width:16px;height:16px;}
.platform_icon{height:24px;width:auto;margin-left: 5px;}
footer{padding:20px;font-size: 12px;color:#fff;text-align: center;}
.player{display: flex;position: fixed;bottom:-140px;height: 100px;width:100%;z-index: 1000;justify-content: space-between;align-items: center;box-shadow: 0 0 30px rgba(0,0,0,.3);padding:0 40px;cursor: w-resize;transition: bottom .2s ease;}
body.active .player{bottom:0;}
.album{width:150px;height: 60px;display: flex;align-items: center;position: relative;z-index: 2;}
.text_process{font-size:13px;color:#fff;margin-left:10px;display: block;flex-shrink: 0;}
.album img{border-radius: 10px;width:60px;height:60px;cursor: default;}
.control{display: flex;align-items: center;position: fixed;height: 100px;bottom:-100px;right:40px;z-index: 1001;transition: bottom .2s ease;}
.control .loading{width:26px;height: 26px;border:2px solid #fff;border-top-color:transparent;border-radius: 100%;animation: spin .6s linear infinite;display: none;}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.control.disabled{pointer-events: none;}
.control svg.player_icon{width:30px;height:30px;cursor: pointer;transition: transform .2s ease;}
.control svg.player_icon.off{fill:#999;cursor: not-allowed;}
.control svg.player_icon:hover{transform: scale(1.1);}
.control svg.player_icon.off:hover{transform: scale(1);}
.control .playnpause svg{display: none;}
body .control .playnpause svg.play{display: block;}
body.playing .control .playnpause svg.pause{display: block;}
body.playing .control .playnpause svg.play{display: none;}
body.loadstart .control .playnpause svg.pause,body.loadstart .control .playnpause svg.play{display: none;}
body.loadstart .control .loading{display: block;}
.lyric{font-size:14px;color:#fff;z-index: 1000;overflow:hidden;align-self: flex-start;height: 100px;position: fixed;bottom:-100px;width:100%;pointer-events: none;z-index: 999;backdrop-filter: blur(20px) saturate(180%);-webkit-backdrop-filter: blur(20px) saturate(180%);background-color: rgba(0,0,0,.7);transition: bottom .3s ease;}
.lyric .noLyric{display:none;justify-content: center;align-items: center;height:100px;}
.lyric .noLyric.on{display:flex;}
.lyric ul{width:100%;}
.lyric ul li{opacity: 0;pointer-events: none;transition: top .2s ease,opacity .2s ease;text-align: center;position: absolute;width:100%;height:100px;top:10px;left:0;line-height: 100px;}
.lyric ul li.ready{opacity: 0.3;top:20px;}
.lyric ul li.on{opacity: 1;top:0;text-shadow: 0 0 5px rgba(0,0,0,.5);}
body.active .lyric{bottom: 0;}

body.active .control{bottom:0;}

.process_bar{position: absolute;top:0;left:0;width:0%;z-index: 1;background-color: rgba(255,255,255,.15);height: 100px;pointer-events: none;display: felx;justify-content: flex-end;overflow: hidden;align-items: center;border-radius: 0 5px 5px 0;}
.process_bar .handle{width:24px;height: 24px;position: absolute;top:50%;margin-top:-12px;right:0;}
.process_bar.t{transition: width .1s ease;}
.buffered{height: 100%;top:0;position: absolute;pointer-events: none;width:0;transition: width .2s ease;overflow:hidden;box-shadow: inset 0 0 40px rgba(255,255,255,.2);border-radius: 0 5px 5px 0;}
img.wave{height:100%;position: absolute;top: 0;left:0;opacity:.15;max-width: none;width: 100%;pointer-events: none;}
.audio{position: absolute;top:-9999999px;width:1px;height:1px;opacity: 0;pointer-events: none;}
.play_all{margin:30px auto;width:200px;background-color: #fff;border-radius: 50px;height:50px;font-size: 18px;color:#333;line-height: 50px;text-align: center;background:#fff;}
.worklist{width:440px;margin:40px auto 0;cursor: pointer;padding: 20px;}
.worklist li{width:100%;margin-bottom:30px;position: relative;}
.worklist li:last-child{margin-bottom:0;}
.worklist li img{width:100%;border-radius: 10px;transition: filter .2s ease;}
.worklist li .cover_block{position: relative;}
.worklist li:hover .cover_block img{filter: brightness(.5) grayscale(.5);}
.worklist li .workname{padding:20px;line-height: 26px;overflow:hidden;color:#fff;position: absolute;bottom:0;left:0;opacity: 0;z-index: -99999;pointer-events: none;transition: opacity .2s ease,transform .2s ease;transform:translateY(-10px);font-size: 14px;}
.worklist li .workname .song_title{font-weight: bold;font-size: 24px;transform: translateY(-10px);transition: transform .4s ease;margin-bottom: 20px;}
.worklist li .workname .hashtag{background: rgba(255,255,255,.5);line-height: 1;padding:4px 10px;border-radius: 30px;color:#fff;}
.worklist li:hover .workname .song_title{transform: translateY(0px);}
.worklist li:hover .workname {opacity: 1;z-index: 999;pointer-events: auto;transform: translateY(0px);}
.worklist li .play_this{text-decoration: underline;cursor: pointer;transition: transform .2s ease;}
.worklist li:nth-child(even){margin-right: 0;}
.worklist li .release_date{padding:10px 0;line-height: 26px;overflow:hidden;color:#fff;text-align: center;}
.queue_btn{background: rgba(0,0,0,.5);width:50px;height: 50px;position: fixed;bottom:20px;right:20px;border-radius: 10px;line-height: 50px;text-align: center;z-index: 9999999;box-shadow: 0 0 15px rgba(0,0,0,.3);cursor: pointer;backdrop-filter: saturate(180%) blur(20px);-webkit-backdrop-filter: saturate(180%) blur(20px);transition: bottom .2s ease;}
body.active .queue_btn{bottom:120px;}
.aboutme_wrap{width:800px;padding:20px;color:#fff;margin:0 auto;line-height: 30px;}
.aboutme_wrap audio{max-width: 100%;}
.aboutme_wrap img{width:100%;margin:10px 0;}
.aboutme_wrap a{color:#999;text-decoration: underline;}
.aboutme_wrap .img_description{display: block;text-align: center;font-size:11px;color:#666;text-align: center;line-height: 16px;margin-bottom: 5px;}
.aboutme_wrap p{padding: 5px 0;}
.queue_wrap{background-color: rgba(0,0,0,.5);width:100%;height:100%;position: fixed;top:0;left:0;pointer-events:none;transition: opacity .2s ease;opacity: 0;z-index: 10000000;}
.queue_list{width:280px;position: absolute;right:-30px;top:0;height: 100%;background-color: rgba(0,0,0,.7);box-shadow: 0 0 30px rgba(0,0,0,.5);transition: right .2s ease;backdrop-filter: saturate(180%) blur(20px);-webkit-backdrop-filter: saturate(180%) blur(20px);overflow-x: hidden;}
.queue_list ul.queue_list_ul{height:calc(100% - 100px);overflow: hidden;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.queue_list ul.queue_list_ul li{display: flex;border-bottom: 1px solid rgba(255,255,255,.1);padding:20px;color:#ccc;font-size: 13px;cursor: pointer;transition: transform .2s ease;}
.queue_list ul.queue_list_ul li:last-child{margin-bottom: 20px;}
.queue_list ul.queue_list_ul li .playing_this{position: absolute;width: 24px;height: 24px;top:50%;left:50%;margin-top: -12px;margin-left:-12px;display: none;}
.queue_list ul.queue_list_ul li.on .playing_this{display: block;}
.queue_list ul.queue_list_ul li.on {background-color: rgba(255,255,255,.1)}
.queue_list ul.queue_list_ul li:last-child{border-color: transparent;}
.queue_list ul.queue_list_ul li.on{color:#fff;}
.queue_list ul.queue_list_ul li:hover{transform: scale(1.05);}
.queue_list ul.queue_list_ul li .artwork{width:50px;flex-shrink: 0;height: 50px;overflow:hidden;display: flex;justify-content: center;align-items: center;margin-right: 10px;position: relative;}
.queue_list ul.queue_list_ul li .artwork img{border-radius: 5px;max-height: 100%;max-width: 100%;}
.queue_list ul.queue_list_ul li .name{line-height: 20px;display: flex;align-items: center;}
.queue_list .dismiss_queue{height: 100px;display: flex;justify-content: center;align-items: center;box-shadow: 0 0 40px rgba(255,255,255,.2);background-color: #000;}
.queue_list .dismiss_queue ._btn{width:100px;height: 40px;border-radius: 40px;background-color: #fff;color:#000;display: flex;align-items: center;justify-content: center;cursor: pointer;border:2px solid #fff;transition: background-color .2s ease, color .2s ease;}
.queue_list .dismiss_queue ._btn:hover{background-color: #000;color:#fff;}
body.show_queue{overflow: hidden;}
body.show_queue .queue_wrap{opacity: 1;pointer-events: auto;}
body.show_queue .queue_list{right:0;}
.no_songs{display: flex;justify-content: center;align-items: center;color:#fff;font-size: 14px;flex-wrap: wrap;height:calc(100% - 100px);line-height:calc(100% - 100px);flex-flow: wrap;}
.no_songs br {content: '\A';display: contents;white-space: pre;}
.no_songs a{color:#fff;text-decoration: underline;}
.worklist li.on .current_playing{opacity: 1;}
.page_loading {position: relative;height:400px;pointer-events: none;overflow: hidden;}
.page_loading .current_playing{opacity: 1;}
.page_loading.done{height: 0;}
.page_loading.done .current_playing{opacity: 0;}
.current_playing{position: absolute;top:50%;left:50%;display: flex;justify-content: space-between;align-items: center;z-index: 333;height:60px;width:100px;margin-left:-50.5px;margin-top:-30px;opacity: 0;}
.current_playing .fragment{animation: onPlaying 1s ease infinite;animation-delay: 0ms;width:14px;height:30px;background: #fff;box-shadow: 0 0 15px rgba(0,0,0,.2);border-radius: 3px;}
.current_playing .fragment:nth-child(2){animation-delay: 200ms;}
.current_playing .fragment:nth-child(3){animation-delay: 400ms;}
.current_playing .fragment:nth-child(4){animation-delay: 600ms;}
.current_playing .fragment:nth-child(5){animation-delay: 800ms;}
@media screen and (max-width: 1000px) {
    body.active{padding-bottom: 140px;}
    .player{padding:0 20px;background-color: rgba(0,0,0,.7);backdrop-filter: saturate(180%) blur(20px);-webkit-backdrop-filter: saturate(180%) blur(20px);}
    body.active .lyric{bottom: 100px;}
    .control{right:20px;}
    .lyric{font-size:11px;position: fixed;width:100%;left:0;bottom:-100px;height:40px;pointer-events: none;}
    .lyric ul li{height:40px;line-height: 40px;padding:0 10px;white-space: nowrap;text-overflow: ellipsis;}
    .lyric ul li.ready{top:12px;font-size: 9px}
    .lyric ul li.on{top:0;font-size: 12px;}
    body.active .queue_btn{bottom:160px;}
    .lyric .noLyric{height:40px;}
}
@media screen and (max-width: 800px) {
    .current_playing{top:35%;}
    .worklist li:hover .cover_block img{filter: brightness(1) grayscale(0);}
    .worklist{width:440px;}
    .worklist li{width:100%;}
    .worklist li .workname .song_title{transform: translateY(0px);margin-bottom: 0;}
    .worklist li .workname{position: static;text-align: center;opacity: 1;z-index: 999;pointer-events: auto;transform: translateY(0px);}
    .aboutme_wrap{width:100%;}
    .play_section{width:100%;height:auto;padding:50px;}
    .play_section .ctrl-icon{width:100px;height: 100px;margin-top:-50px;margin-left: -50px;}
    body .play_section .ctrl-icon.play{opacity: 1;}
    body.playing .play_section .ctrl-icon.pause{opacity: 1;}
    .play_section:hover img{box-shadow: 0 0 70px rgba(0,0,0,.3);transform: scale(1);filter: brightness(1);}
}
@media screen and (max-width: 440px) {
    .worklist{width:100%;}
}
@media screen and (max-width: 350px) {
    header .nav{display: block;text-align: center;height: auto;}
    header .nav a{margin:0;display: inline-block;margin-bottom: 10px;}
    .player{height:50px;padding: 0 5px;}
    .album{height: 40px;}
    .album img{height: 40px;width:40px;border-radius: 3px;}
    .process_bar{height: 50px;}
    .control{right:5px;height:50px;}
    body.active .queue_btn{bottom:110px;}
    body.active{padding-bottom: 90px;}
    body.active .lyric{bottom: 50px;}
}
@-webkit-keyframes onPlaying{
    0%{height:30px;}
    50%{height:60px;}
    100%{height: 30px;}
}
@keyframes onPlaying{
    0%{height:30px;}
    50%{height:60px;}
    100%{height: 30px;}
}
